* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Courier New', monospace;
  background: #f7f7f7;
}
.receipt-section { 
    margin: auto; 
    border:5px solid black ;
}
.receipt {
  border: 1px dashed #333;
  background: #fff;
  padding: 15px;
}
.receipt-header h1 {
  font-size: 20px;
  text-align: center;
}
.business-details { text-align: center; margin: 10px 0; }
.business-details p { font-size: 12px; line-height: 1.4; }
.receipt-table p {
  display: block;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px dashed #333;
  padding: 5px;
  text-align: left;
}
th { background: #000; color: #fff; font-size: 14px; }

.items-cell { width: 60%; }

td:nth-child(2) { display: flex; justify-content: space-between; }

.count { 
    cursor: pointer; 
    color: #007bff; 
    padding:0px 5px;
    display:flex;
    justify-content: baseline;
    align-items: center;
    transition:all 0.3s ease-in-out;
}

.count:hover { 
    border:1px solid black;
    text-decoration: underline; 
}

td[class$="-charge"] {
  cursor: pointer;
  color: #007bff;
}

td[class$="-charge"]:hover { 
    text-decoration: underline; 
}

.total-display {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.print-button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.print-button:hover { background: #0056b3; }
@media print {
  .print-button { display: none; }

  .receipt-section{
    width:100%;
  }

  .receipt * {
    font-size:2rem;
    padding:0;
  }
  .business-details{
    width:700px;
    margin:0 auto;
  }

  .business-details p:nth-child(2){
    font:1.2rem;
  }

th { color: #000; font-size: 14px; }

table{
  width:90%;
}

table tr{
  padding:5px;
}


}
